body {
  background: black;
  padding: 0;
  margin: 0 auto;
  position: relative;
}

img {
  width: 100%;
  height: auto;
  object-fit: contain;
}

#wrapper {
  position: absolute;
  top: 0;
}
.panel {
  height: 50%;
  width: 100%;
}
#left {
}

#buttons div img {
  /*box-sizing: border-box;*/
  border: solid 3px grey;
  margin: 0;
  padding: 0;
  display: block;
  float: left;
  height: auto;
}

#buttons div {
  margin: 0;
  float: left;
}

#buttons {
  border: solid 3px grey;
  margin: 0 auto;
  padding-right: 6px;
  width: 80%;
  overflow:auto;
}

#intro img {
  display: inline-block;
}


.column {
  display: inline-block;

}
/*320 + 190 + 290 = 800*/
/*320 / 800 = 0.4*/
/*190 / 800 = 0.2375*/
/*290 / 800 = 0.3625*/
#col-left {
  width: 40%;
}
#col-middle {
  width: 23.75%;
}
#col-right {
  width: 36.25%;
}

.lightup:hover {
  background: rgb(112, 115, 116);
}
